body{
        font-family: 'Noto Sans TC',sans-serif;
        }



h1,h2,h3,h4,h5,h6{
        font-family: 'Noto Sans TC', sans-serif;
        text-transform:none; 
        font-weight: 750;
}
.subheading{
        font-family: 'Noto Sans TC',sans-serif;
        font-size:1.2rem;
        text-transform:none;
        letter-spacing:-0.05rem;
}
h1{
        font-size:5rem;
}
.mb-5, .my-5 {
    margin-bottom: 1rem!important;
}
.bg-primary {
    background-color: #fad473!important;
    background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.text-primary {
    color: #edbf37!important;
}
.navbar-dark .navbar-brand {
    color: #2e247a!important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #2e247a!important;
}
.navbar-dark:active, .navbar-nav:focus, .nav-link:hover {
    color: #7B9AEE!important;
}
.collapse navbar-collapse a:hover {
  background-color: #7B9AEE !important;
}
a {
    color: #ab7320;
}
a:active, a:focus, a:hover{
    color: #ffd18b!important;
}
small {
    color: #ab7320!important;
}
