body{
        font-family: 'Noto Sans TC',sans-serif;
        }



h1,h2,h3,h4,h5,h6{
        font-family: 'Noto Sans TC', sans-serif;
        text-transform:none;    
}
.subheading{
        font-family: 'Noto Sans TC',sans-serif;
        font-size:1.2rem;
        text-transform:none;
        letter-spacing:-0.05rem;
}
h1{
        font-size:5rem;
}
element.style {
}
.bg-primary {
    background-color: #FFB74D!important;
}
