body{
        font-family: 'Noto Sans TC',sans-serif;
        }



h1,h2,h3,h4,h5,h6{
        font-family: 'Noto Sans TC', sans-serif;
        text-transform:none;    
}
.subheading{
        font-family: 'Noto Sans TC',sans-serif;
        font-size:1.2rem;
        text-transform:none;
        letter-spacing:-0.05rem;
}
h1{
        font-size:5rem;
}
.bg-primary {
    background-color: #fad473!important;
    background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
